@{
    ViewBag.Title = "My University";
}
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">My University</p>
</div>
<div class="row">
    <div class="col-md-3">
        <h2>Students</h2>
        <p>
            <ul>
                <li>Index, Create, Edit</li>
                <li>Link to Enrollments</li>
                <li>Check Concurrency on Edit</li>
                <li>Simple data table with filtering and ordering</li>
            </ul>
        </p>
        <p>
            <h4>Enrollments</h4>
        <p>
            <ul>
                <li>Create, Edit</li>
                <li>Check Concurrency on Edit</li>
                <li>Bind Attribute</li>
            </ul>
        </p>
        </p>
        @Html.ActionLink("Go there", "Index", "Students")
    </div>

    <div class="col-md-3">
        <h2>Teacher</h2>
        <p>
            <ul>
                <li>Index, Create, Edit</li>
                <li>Check Concurrency on Edit</li>
                <li>Simple data table with filtering and ordering</li>
            </ul>
        </p>
        @Html.ActionLink("Go there", "Index", "Teachers")
    </div>
    <div class="col-md-3">
        <h2>Departments</h2>
        <p>
            <ul>
                <li>Index, Create, Edit, Deactivate, Reactivate</li>
                <li>Check Concurrency on Edit, Deactivate, Reactivate</li>
            </ul>
        </p>
        @Html.ActionLink("Go there", "Index", "Departments")
    </div>
    <div class="col-md-3">
        <h2>Courses</h2>
        <p>
            <ul>
                <li>Index, Create, Edit</li>
                <li>Details with CORS</li>
                <li>Check Concurrency on Edit</li>
            </ul>
        </p>
        @Html.ActionLink("Go there", "Index", "Courses")
    </div>
</div>